body {
    margin: 0;
    font-family: 'Trebuchet MS', sans-serif;
}

.introBox {
    width: 100vw;
    height: 100vh;
    background-image:url('demo_use.png');
    background-position: center;
}

.introImg {
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
}

.header {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
}

h1 {
    font-size: 300%;
}

h1 span {
    color: green;
}

.box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.tv-roster-view {
    margin-bottom: 50px;
}